  /* 초기화 */
  * {
    margin: 0;
    padding: 0;
    font: normal 12px "noto sans korean";
  }
  ul, ol {list-style: none;}
  a {
    text-decoration: none;
    color: #111;
  }

  #container {
    width: 100%;
    height: 100%;
  }
  header {
    width: 100%;
    height: auto;
  }
  header > div {width: 100%;}
  header > div:nth-child(1) {
    height: 44px;
    background-color: #f3f3f3;
  }
  header > div:nth-child(2) {
    height: 110px;
  }
  header > div:nth-child(3) {
    height: 46px;
    background-color: #564f47;
  }
  header > div > *{
    width: 1126px;
    height: 100%;
    margin: 0 auto;
  }
  header .top {
    float: right;
    margin-top: 6px;
  }
  header .ico {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 30px;
    background-image: url('../images/sprites.png');
  }
  header .ico.user {
    position: relative;
    top: 5px;
    width: 17px;
    height: 17px;
    background-position: 0 -504px;
  }
  header .ico.cart {
    width: 17px;
    height: 17px;
    background-position: 0 -487px;
  }
  header .ico.wish {
    width: 20px;
    height: 18px;
    background-position: 0 -539px;
  }
  header .ico .label {
    position: relative;
    left: 24px;
    top: 1px;
    display: block;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    background-color: #ff6e53;
    font-size: 11px;
    color: white;
  }
  header > div > * {
    width: 1126px;
    height: 100%;
    margin: 0 auto;
  }
  header > div p {
    float: right;
  }
  header section > .logo {
    float: left;
    margin-top: 10px;
  }
  header section > .banner{
    float: right;
    margin-top: 20px;
  }
  header .gnb {
    width: 100%;
    height: 100%;
  }
  header .gnb >li {
    width: 16.66%;
    height: 100%;
    float: left;
  }
  header .gnb a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 46px;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    color: #b0a171;
    background-color: #464545;
  }
  header .gnb a:hover {
    background-color: #396340;
    color: #fff;
    font-size: 16px;
  }

  main {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  main > section {
    width: 100%;
    height: auto;
    padding: 40px 0;
    box-sizing: border-box;
  }
  main > section:nth-child(1) {height: 480px;}
  main > section:nth-child(3) {height: 620px;}
  main > section:nth-child(4) {height: 220px;}
  main > section:nth-child(6) {height: 220px;}
  
  main > section > article {
    width: 1126px;
    height: 100%;
    margin: 0 auto ;
  }

  main > section > h3 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 27px;
    color: #564f47;
  }

  main > section > h3 > strong {
    font-size: 27px;
    font-weight: bold;
    color: #699270;
  }

  main > .banner > article {position: relative;}
  main > .banner > article > img {position: absolute;}
  main > .banner img:nth-child(1) {left: 10px; top: 40px;}
  main > .banner img:nth-child(2) {left: 460px; top: 40px;}
  main > .banner img:nth-child(3) {right: 10px; bottom: 100px;}

  main > .new > article {
    height: 480px;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
  }
  
    main > .new > article > div {
      position: relative;
      float: left;
      width: 345px;
      height: 50%;
      box-sizing: border-box;
  }
  
  main > .new > article > div:nth-child(1) {
    background-image: url('../images/main_new_img1.jpg');
    width: 434px;
    height: 100%;
  }

  main > .new > article > div:nth-child(2) {
   border-right: 1px solid #d4d4d4; 
   border-bottom: 1px solid #d4d4d4;
  }
  main > .new > article > div:nth-child(3) {
    border-bottom: 1px solid #d4d4d4;
  }
  main > .new > article > div:nth-child(4) {
    border-right: 1px solid #d4d4d4;
  }
  main > .new div > img {position: absolute;}

  main > .new div:nth-child(1) > img {left: 0; top: 0;} 
  main > .new div:nth-child(2) > img {left: 20px; top: 20px;}
  main > .new div:nth-child(3) > img {right: 10px; bottom: 10px;}
  main > .new div:nth-child(4) > img {right: 0px; bottom: 0px;}
  main > .new div:nth-child(5) > img {right: 0px; bottom: 0px;}


  main > .new div > span {position: absolute;}
  main > .new div >span > strong {
    font-size: 32px;
    opacity: 1;
    color: #c3d069;
    font-weight: bold;
  }
  main > .new div:nth-child(1) > .txt {
    left: 40px;
    top: 60px;
    font-size: 27px;
    color: #564f47;
  }
  main > .new div:nth-child(2) > .txt {
    left: 130px;
    top: 40px;
    font-size: 16px;
    color: #564f47;
  }
  main > .new div:nth-child(3) > .txt {
    left: 30px;
    top: 40px;
    font-size: 16px;
    color: #564f47;
  }
  main > .new div:nth-child(4) > .txt {
    left: 30px;
    top: 30px;
    font-size: 16px;
    color: #564f47;
  }
  main > .new div:nth-child(5) > .txt {
    left: 30px;
    top: 30px;
    font-size: 16px;
    color: #564f47;
  }


  main > .new div:nth-child(1) > .tit {
    left: 40px;
    top: 116px;
    font-size: 26px;
    color: white;
    padding: 4px 6px;
    background-image: url('../images/bg_transparent.png');
  }
  main > .new div:nth-child(2) > .tit {
    left: 130px;
    top: 90px;
    font-size: 28px;
    color: #899b34;
  }
  main > .new div:nth-child(3) > .tit {
    left: 30px;
    top: 70px;
    font-size: 28px;
    color: #899b34;
  }
  main > .new div:nth-child(4) > .tit {
    left: 30px;
    top: 80px;
    font-size: 28px;
    color: #899b34;
  }
  main > .new div:nth-child(5) > .tit {
    left: 30px;
    top: 80px;
    font-size: 28px;
    color: #899b34;
  }
  main > .new div > .price {color: #ef9120; font-size: 30px;}
  main > .new div:nth-child(1) > .price {right: 20px;bottom: 20px;}
  main > .new div:nth-child(2) > .price {right: 20px;bottom: 20px;}
  main > .new div:nth-child(3) > .price {left: 20px;bottom: 20px;}
  main > .new div:nth-child(4) > .price {left: 30px;bottom: 20px;}
  main > .new div:nth-child(5) > .price {left: 30px;bottom: 20px;}
  main > .new div > .price::after {content: '원'; color: #ef9120;font-size: 18px;}
 
  main > .master {
    background-image: url('../images/main_master_bg.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  main > .master > article > div {
    float: left;
    width: 25%;
    height: 334px;
    padding: 6px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d4d4d4;
  }
  main > .master > article > div:nth-child(1) {
    border-right: none;
  }
  main > .master > article > div:nth-child(2) {
    border-right: none;
  }
  main > .master > article > div:nth-child(3) {
    border-right: none;
  }
  main > .master img {
    width: 100%;
    height: auto;
  }
  main > .master p {
    width: 100%;
    height: auto;
    margin-top: 6px;
    font-size: 14px;
    color: #564f47;
    box-sizing: border-box;
  }
  main > .master p > .name {
    display: block;
    margin-top: 6px;
    font-size: 20px;
    color: #564f47;
  } 
  main > .organic_banner {
    position: relative;
    background-image: url('../images/main_organic_bg.png');
    background-size: cover;
    background-position: center;
  }
  main > .organic_banner > img {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -180px;
  }
  main > .organic {overflow: hidden;}
  
  main > .gallary {
    overflow: hidden;
  }
  main .gallary >div {
    position: relative;
    background-image: url('../images/main_organic_bg.png');
    background-size: cover;
    background-position: center;
    float: left;
    width: 25%;
    height: 400px;
    padding: 4px;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
  }
  main .gallary > div:hover {
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
  }
  main .gallary > div > span {
    position: absolute;
    display: block;
  }
  main .gallary > div > img {
    width: 100%;
    height: 265px;
    object-fit: cover;
  }
  main .gallary > div > .tit {left:4px; bottom: 90px; font-size: 18px; font-weight: bold;}
  main .gallary > div > .txt{
    left: 4px;
    bottom: 64px;
    font-size: 16px;
    color: #747373;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  main .gallary > div > .price {
    right: 10px;
    bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  main .gallary > div > .price::after {
    content: '원';
  }
  main > .grain_banner {
    position: relative;
    background-image: url('../images/main_grain_bg.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  main > .grain_banner > img {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -180px;
  }
  footer {
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
  }
  footer > div {
    width: 1126px;
    height: 210px;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  footer > div > img {
    float: left;
  }
  footer > div > p {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #aca9a9;
    text-align: left;
    line-height: 22px;
  }
