  /* 초기화 */
  * {
    margin: 0;
    padding: 0;
    font: normal 12px "noto sans korean";
  }
  ul, ol {list-style: none;}
  a {
    text-decoration: none;
    color: #111;
  }

  #container {
    width: 100%;
    height: 100%;
  }
  header {
    width: 100%;
    height: auto;
  }
  header > div {width: 100%;}
  header > div:nth-child(1) {
    height: 44px;
    background-color: #f3f3f3;
  }
  header > div:nth-child(2) {
    height: 110px;
  }
  header > div:nth-child(3) {
    height: 46px;
    background-color: #564f47;
  }
  header > div > *{
    width: 1126px;
    height: 100%;
    margin: 0 auto;
  }
  header .top {
    float: right;
    margin-top: 6px;
  }
  header .ico {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 30px;
    background-image: url('../images/sprites.png');
  }
  header .ico.user {
    position: relative;
    top: 5px;
    width: 17px;
    height: 17px;
    background-position: 0 -504px;
  }
  header .ico.cart {
    width: 17px;
    height: 17px;
    background-position: 0 -487px;
  }
  header .ico.wish {
    width: 20px;
    height: 18px;
    background-position: 0 -539px;
  }
  header .ico .label {
    position: relative;
    left: 24px;
    top: 1px;
    display: block;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    background-color: #ff6e53;
    font-size: 11px;
    color: white;
  }
  header > div > * {
    width: 1126px;
    height: 100%;
    margin: 0 auto;
  }
  header > div p {
    float: right;
  }
  header section > .logo {
    float: left;
    margin-top: 10px;
  }
  header section > .banner{
    float: right;
    margin-top: 20px;
  }
  header .gnb {
    width: 100%;
    height: 100%;
  }
  header .gnb >li {
    width: 16.66%;
    height: 100%;
    float: left;
  }
  header .gnb a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 46px;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    color: #b0a171;
    background-color: #464545;
  }
  header .gnb a:hover {
    background-color: #396340;
    color: #fff;
    font-size: 16px;
  }

  main {
    width: 100%;
    height: auto;
  }
  main > section {
    width: 100%;
    height: auto;
    padding: 40px 0;
    box-sizing: border-box;
  }
  main > section:nth-child(1) {height: 480px;}
  main > section:nth-child(3) {height: 620px;}
  main > section:nth-child(4) {height: 220px;}
  main > section:nth-child(6) {height: 220px;}
  
  main > section > article {
    width: 1126px;
    height: 100%;
    margin: 0 auto ;
  }

  main > section > h3 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 27px;
    color: #564f47;
  }

  main > section > h3 > strong {
    font-size: 27px;
    font-weight: bold;
    color: #699270;
  }

  main > .banner > article {position: relative;}
  main > .banner > article > img {position: absolute;}
  main > .banner img:nth-child(1) {left: 10px; top: 40px;}
  main > .banner img:nth-child(2) {left: 460px; top: 40px;}
  main > .banner img:nth-child(3) {right: 10px; bottom: 100px;}

  main > .new > article {
    height: 480px;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
  }
  
    main > .new > article > div {
      position: relative;
      float: left;
      width: 345px;
      height: 50%;
      box-sizing: border-box;
  }
  
  main > .new > article > div:nth-child(1) {
    background-image: url('../images/main_new_img1.jpg');
    width: 434px;
    height: 100%;
  }

  main > .new > article > div:nth-child(2) {
   border-right: 1px solid #d4d4d4; 
   border-bottom: 1px solid #d4d4d4;
  }
  main > .new > article > div:nth-child(3) {
    border-bottom: 1px solid #d4d4d4;
  }
  main > .new > article > div:nth-child(4) {
    border-right: 1px solid #d4d4d4;
  }
  main > .new div > img {position: absolute;}

  main > .new div:nth-child(1) > img {left: 0; top: 0;} 
  main > .new div:nth-child(2) > img {left: 20px; top: 20px;}
  main > .new div:nth-child(3) > img {right: 10px; bottom: 10px;}
  main > .new div:nth-child(4) > img {right: 0px; bottom: 0px;}
  main > .new div:nth-child(5) > img {right: 0px; bottom: 0px;}


  main > .new div > span {position: absolute;}
  main > .new div >span > strong {
    font-size: 32px;
    opacity: 1;
    color: #c3d069;
    font-weight: bold;
  }
  main > .new div:nth-child(1) > .txt {
    left: 40px;
    top: 60px;
    font-size: 27px;
    color: #564f47;
  }
  main > .new > article > div > .txt {}

  main > .new div:nth-child(1) > .tit {
    left: 40px;
    top: 116px;
    font-size: 26px;
    color: white;
    padding: 4px 6px;
    background-image: url('../images/bg_transparent.png');
  }
  main > .new > article > div > .tit {}
  main > .new > article > div > .tit > strong {}
  main > .new div > .price {color: #ef9120; font-size: 30px;}
  main > .new div:nth-child(1) > .price {right: 20px;bottom: 20px;}
  main > .new div > .price::after {content: '원'; color: #ef9120;font-size: 18px;}
 
  footer {
    width: 100%;
    height: 210px;
    border: 1px solid blue;
    box-sizing: border-box;
  }
  footer > div {
    width: 1126px;
    height: 100%;
    border: 1px solid green;
    box-sizing: border-box;
    margin: 0 auto;
  }
